form {
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-content:space-evenly
}

input{
	margin-right:800px;	
	margin-bottom:12px;
}

button{
	margin-left:600px;
	margin-right:730px;
	align-items:center;
}